<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="overstediv"class="container-md">
        <h1 id="ftekst">Github pages</h1>
        <p id="innledning">Github pages er en statisk hosting service som tar et github repository og hoster det på et eget domain. Nettsiden er tilgjengelig for alle.</p>
        <p><a href="https://pages.github.com/">Github pages</a> </p>
         
            <button class="btn btn-outline-danger"> <a class="text-dark" href="heroku.HTML">Heroku</a></button>  
            <button class="btn btn-secondary"><a class="text-dark"href="index.HTML">Index</a></button>
    </div>
    <br>
    <div id="prosG">
        <div class="container-md">
        <div class="row">
            
        <div class="col">
           
        <p>Github pages er simpelt og har enkel dokumentasjon 
            på hvordan man setter det opp</p>
            <img id="check"src="jpg/check.png">
        </div>
        <div class="col">
            <p>Det er 100% gratis </p>
            <br>
            <img id="check"src="jpg/check.png">
            </div>
            <div class="col">
                <p>Lar deg ikke bruke frameworks som ejs</p>
                <br>
                <img id="check"src="jpg/rex.png">
                </div>
            </div>
    </div>
    </div>
    <br>
    <div class="container-md">
        <p style="font-size:30pt; text-align:center;" >Step by step </p>
        <br>
        <div class="row">
          
            <div class="col">
        <h1>Step 1</h1>
        <p id="paragraf">Lag et github repository</p>
        <p id="paragraf">NB SELVOM DOKUMENTASJONEN SIER MOTSATT TRENGER DU IKKE Å KALLE DET FOR BRUKERNAVNET DITT</p>
    </div>
    <div class="col">
        <img id="rep" src="jpg/repository.jpg">
      </div>
    </div>
    </div>
    <br>
    <div class="container-md">
        <div class="row">
        
            <div class="col">
                <h1>Step 2</h1>
                <p id="paragraf">Klon repositorien din inn i kodeprogrammet ditt med

                </p>     
                <br>
                <p id="paragraf">git clone "https linken fra github"</p>           
            </div>
            <div class="col">
                <img id="pshell"src="jpg/powershell.jpg">
            </div>
        </div>

    </div>
    <br>
    <div class="container-md">
        <div class="row">
            <div class="col">
                <h1>Step 3</h1>
                <p id="paragraf">Gå på github til repository'et ditt og under settings
                </p>
            </div>
            <div class="col">
                <img id="link"src="jpg/gitrep.jpg">
            </div>
        </div>


   <br>
        <div class="row">
            <div class="col">
                
                <p id="paragraf">På settings gå til pages på menyen
                </p>
            </div>
            <div class="col">
                <img id="link"src="jpg/link.jpg">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p id="paragraf">Der det står branch velg main branchen istedet for none</p>
            </div>
            <div class="col">
                <img id="link"src="jpg/branch.jpg">
            </div>
        </div>

    </div>
    <br>
    <div class="container-md">
    <div class="row">
        <div class="col">
            <p id="paragraf">Og nettsiden din er klar på denne lenken</p>
        </div>
        <div class="col">
            <img id="link" src="jpg/savedwebsite.jpg">
                </div>
    </div>
</div>
</body>
</html>