#ftekst{
    margin-top: 20px;
}
h1{
    color: blue ;
}
#GPH{
    font-size: 40pt;
}

#bb{
    background-color:rgb(225, 225, 225);
    height:200px;
    
    
}

#overstediv{
    
}
#prosG{
    
    background-color:rgb(233, 233, 233);
    height:200px;
    text-align: center;
    font-size: 15pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#rep{
    width:650px;
}

#pshell{
    width:650px;
}
#link{
    width:650px;
}