#ftekst{
    margin-top: 20px;
}
h1{
    color: blue ;
}
#GPH{
    font-size: 80pt;
}


#indexdiv{
    margin-top: 40px;
    text-align: center;
    
}

#indexinfo{
    margin-top: 200px;
}
#bb{
    background-color:rgb(225, 225, 225);
    height:200px;
    
    
}

#herokuh1{
    margin-top: 20px;
    color:blueviolet
}

#innledning{
    font-size: 17pt;
}
#check{
    width: 50px;
}
#prosG{
    
   margin-top: 50px;
    height:200px;
    text-align: center;
    font-size: 15pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a:link{
    
    text-decoration: none;
}


#rep{
    width:650px;
}

#pshell{
    width:650px;
}
#link{
    width:650px;
}
#paragraf{
    font-size: 17pt;
}